<%= provide(:title, "Blog")%>
<div class="content-row top-row">
	<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 top-row">
		<h2><i class="glyphicon glyphicon-folder-close glyphy"></i> Blog</h2>
	</div>
</div>

