<%= provide(:title, "Contact")%>
<div class="content-row top-row">
	<h2><i class="glyphicon glyphicon-pencil glyphy"></i> Contact Palmetto Studios</h2>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="sidelogo">
			<%= image_tag "PalmettoLogo.png", :class=>"img img-responsive contact-logo" %>
		</div>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<ul>
			<li class="contact"><i class="glyphicon glyphicon-home glyphy"></i> 2 Greenwoods Ave, San Andres Pob., Cainta, Philippines </li>
			<li class="contact"><i class="glyphicon glyphicon-phone glyphy"></i> <a href="tel:0011632-500-0222">0011632-500-0222 </li>
			<li class="contact"><i class="glyphicon glyphicon-phone glyphy"></i> <a href="tel:+63 917 874 1222">+63 917 874 1222 </li>
			<li class="contact"><i class="glyphicon glyphicon-envelope glyphy"></i><a href="mailto:palmetto@gmail.com"> palmetto@gmail.com</a></li>		
			<li class="contact"><i class="glyphicon glyphicon-dashboard glyphy"></i> 12PM-9PM Mon-Sat | 2PM-6PM Sun </li>
			<li class="contact"><a href="https://www.facebook.com/PalmettoStudios"> Follow us on Facebook! </li>	
		</ul>
	</div>
</div>
