// Place all the styles related to the Album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
$gray-light : #777;
$gray-medium-light : #eaeaea;
$font-generic: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;

/* mixins, variable, etc. */
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Glyphicons and Side Menu*/
.carousel-inner img{
	max-height: 300px;
}

.glyphy{
	color:#ee324d;
	font-size: .85em;
}

body{
	height:100%;
}


.content{
	padding:20px 0;
}

.content-row-aside{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.row{
	h1{
		font-size: 1.25em;
	}
	p{
		font-size: 1.10em;
		font-weight: 200;
		font-family: $font-generic;
	}
	.blockquote-reverse{
		h3{
			font-size: 1.10em;
		}
		footer{
				font-size: .85em;
				font-weight: 300;
				
			cite{
				font-size: .75em;
				font-weight: 200;
			}
		}
	}

}

.sidemenu{
	text-align: left;
}

li{
	list-style-type: none;
}

.contact{
	font-size: 1.25em;
}

.contact-logo{
	margin: 50px 0 50px 0;
}

.right .left{
	font-size: 3em;
	padding-top: 30px;
}

/* CAROUSEL */

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-inner>.item>img {
    margin: 0 auto;
}

.carousel-caption{
    margin-bottom: 1em;
    font-family: $font-generic;

    h4{
    color:white;
    text-align: center;
    font-size: 1.25em;
    font-weight: 200;
    margin-top:-20px;
    }
}

.carousel-indicators li{
    background-color:none;
    .active{
    background-color:none;
    background-image: none;
    }
}


/* Blockquote */

.caption-quote{
	font-family: $font-generic;
	font-weight: 300;
	color: $gray-light;
	font-size: 1.25em;
}
/* About Description */

/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	clear:both;
	a {
	   color: #555;
	   &:hover{
	     color: #222;
	   }
	}
	small {
	 float:left;
	}
	ul {
	 /*float: right;*/
	 list-style: none;
	 li {
	 	float: left;
	 	margin-left: 15px;
	 }
	}
}

/* miscellaneous */

.debug_dump {
	clear:both;
	float:left;
	width: 100%;
	@include box_sizing;
}
/* Services */
.services-content{
	width: 95%;
	margin: 0 auto;
	text-align: center;
	.img .img-thumbnail{
		margin: 10px auto;
	}
	h1{
		font-size: 1.5em;
		font-family: $font-generic;
	}

}
.title{
 padding-top: 25px;
 text-align: center;
 font-family: $font-generic;
 font-weight: bold;
 font-size: 2em;
 &#title-services{
 	font-size: 2em;
	font-weight: 600;
	font-style: $font-generic;

 }
}

.services{
	margin: 0 auto;

	img{
	width: 60%;
	}
	hr{
	   margin-top: -5px;
	}
	.btn, .btn-primary{
	border-radius: 30px;
	background-color: #238020;
	border: 1px solid #238020;
	margin-bottom: 10px;
	}
	h1{
	font-size: 1.5em;
	font-weight: 400;
	font-style: $font-generic;
	}
}

#home-image >img{
	width: 150px;
}
