// Place all the styles related to the Album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
$gray-light : #777;
$gray-medium-light : #eaeaea;

/* mixins, variable, etc. */
@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*Glyphicons and Side Menu*/

.glyphy{
	color:#ee323d;
	font-size: .85em;
}

.content-row-aside{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.sidemenu{
	text-align: left;
}

li{
	list-style-type: none;
}

.contact{
	font-size: 1.25em;
}

.contact-logo{
	margin: 50px 0 50px 0;
}

.right .left{
	font-size: 3em;
	padding-top: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption{
    margin-bottom: -30px;
    font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
    h3{
    color:black;
    text-align: center;
    font-size: 1.75em;
    }
}
/* Blockquote */

.caption-quote{
	font-style: italic;
	font-family: cursive;
	font-weight: 600;
	color: $gray-light;
}
/* footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	a {
	   color: #555;
	   &:hover{
	     color: #222;
	   }
	}
	small {
	 float:left;
	}
	ul {
	 float: right;
	 list-style: none;
	 li {
	 	float: left;
	 	margin-left: 15px;
	 }
	}
}

/* miscellaneous */

.debug_dump {
	clear:both;
	float:left;
	width: 100%;
	@include box_sizing;
}
