// Place all the styles related to the Album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.glyphy{
	color:#ee323d;
	font-size: .85em;
}

.content-row-aside{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.sidemenu{
	text-align: left;
}

li{
	list-style-type: none;
}

.contact{
	font-size: 1.25em;
}

.contact-logo{
	margin: 50px 0 50px 0;
}

.right .left{
	font-size: 3em;
	padding-top: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

span{
	margin-bottom: -30px;
	color: black;
	font-size: 2em;
	font-family: cursive;
}